<html>
  <head>
    <title>Penguin Dashboard</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type ="text/javascript"></script>
    
    </head>
    <body>
     <div class = "container">
        <h1>Add a new Penguin</h1>
        <form class="col-md-4" id="form" action='/penguins/<%= penguin.id %>' method='post'>
           <div class="form-group">
           <label for="name">Name:</label>
                   <input type="text" class="form-control" name="name" value="<%= penguin.name %>">
         	</div>
            <div class="form-group">
            <label for="age">Age:</label>
                    <input type="text" class="form-control" name="age" value="<%= penguin.age %>">
             </div>
             <div class="form-group">
             <label for="hobby">Favorite Hobby:</label>
                   <input type="text" class="form-control" name="hobby" value="<%= penguin.hobby %>">
             </div>
                 <button type="submit" class="btn btn-primary">Update</button>
            </form>

        <a href = "/" type="button" class="btn btn-primary">Home</a>

       </div>
    </body>
</html>